@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700&family=Mulish:wght@200&family=Open+Sans:wght@300&family=Quicksand:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0%;
  scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
}

.flex-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.flex-card-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.flex-card-sb {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-card-sa {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
